.sale-badge{
    top: 0.5rem;
    right: 0.5rem;
}

img {
  height: 206.400px;
  width: 206.400 px;
  object-fit: fill;
}


/* use reverse flexbox to take advantage of flex-direction: reverse */
.star-rating {
    display: flex;
    align-items: center;
    width: 160px;
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
  }
  
 
.star-rating input {
    display: none;
} 

  
  .star-rating label {
    width: 25px;    
    height: 25px;
    font-family: Arial;
    font-size: 30px;
    transition: 0.2s ease;
    color: orange;
  }

  
  .star-rating label:hover {
    color: #ff69b4;
    transition: 0.2s ease;
  }
 
  .star-rating label:active::before {
    transform: scale(1.1);
  }


  .star-rating label::before {
    content: "\2606";
    position: absolute;
    top: 0px;
    line-height: 26px;
  }


  .star-rating input:checked ~ label:before {
    content: "\2605";
  } 
  